<a href="https://colab.research.google.com/github/tirth4077-byte/ML-Lab/blob/main/mlpr2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

data = pd.DataFrame({
    'Satisfaction':['low','high','medium','low','low','high'],
    'Score':[7,10,8,6,6,9]
})
satisfaction_order = {'low': 0, 'medium': 1, 'high': 2}
data['Satisfaction_Encoded'] = data['Satisfaction'].map(satisfaction_order)
print(data)

  Satisfaction  Score  Satisfaction_Encoded
0          low      7                     0
1         high     10                     2
2       medium      8                     1
3          low      6                     0
4          low      6                     0
5         high      9                     2

In [ ]:
import pandas as pd

# Create a sample DataFrame
data = {'Color': ['Red', 'Blue', 'Green', 'Blue', 'Green'],
        'Weight': [150, 120, 200, 130, 160]}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

# Perform one-hot encoding on the 'Color' column
df_encoded = pd.get_dummies(df, columns=['Color'], dtype=int)
print("\nEncoded DataFrame:")
print(df_encoded)

Original DataFrame:
   Color  Weight
0    Red     150
1   Blue     120
2  Green     200
3   Blue     130
4  Green     160

Encoded DataFrame:
   Weight  Color_Blue  Color_Green  Color_Red
0     150           0            0          1
1     120           1            0          0
2     200           0            1          0
3     130           1            0          0
4     160           0            1          0

In [ ]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')
file_path='/content/drive/MyDrive/ML/heart.csv'
df = pd.read_csv(file_path)
X = df.drop('target', axis=1)
y = df['target']
df.head()
features = ['age','trestbps','chol','thalach','oldpeak']
scaler = MinMaxScaler()

X_normalized = X.copy()
X_normalized[features] = scaler.fit_transform(X[features])
X_normalized.head()
scaler_z = StandardScaler()
X_standardized = X.copy()
X_standardized[features] = scaler_z.fit_transform(X[features])
X_standardized.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,0.952197,1,3,0.763956,-0.256334,1,0,0.015443,0,1.087338,0,0,1
1,-1.915313,1,2,-0.092738,0.072199,0,1,1.633471,0,2.122573,0,0,2
2,-1.474158,0,1,-0.092738,-0.816773,0,0,0.977514,0,0.310912,2,0,2
3,0.180175,1,1,-0.663867,-0.198357,0,1,1.239897,0,-0.206705,2,0,2
4,0.290464,0,0,-0.663867,2.082050,0,1,0.583939,1,-0.379244,2,0,2

In [4]:
# @title Default title text
import numpy as np
data = [10,20,40,50,600]

mean = np.mean(data)
print("Mean",mean)

median = np.median(data)
print("Median:",median)

from statistics import mode
mode_value = mode(data)
print("Mode:",mode_value)

variance = np.var(data)
print("variance:",variance)

std_dev = np.std(data)
print("Standard Deviation:",std_dev)

Mean 144.0
Median: 40.0
Mode: 10
variance: 52184.0
Standard Deviation: 228.43817544359786

In [5]:
# @title Default title text
import numpy as np

Q1 = np.percentile(data,25)
Q2 = np.percentile(data,50)
Q3 = np.percentile(data,75)

print("Q1",Q1)
print("Q2(Median)",Q2)
print("Q3",Q3)

Q1 20.0
Q2(Median) 40.0
Q3 50.0

In [6]:
# @title Default title text
IQR = Q3-Q1
print("InterQuartile Range(IQR):",IQR)

InterQuartile Range(IQR): 30.0

In [11]:
# @title Default title text
import pandas as pd
import numpy as np

data1={
    "Data_usage":[5,12,np.nan,50],
    "Contract_type":["Prepaid","Postpaid","Postpaid",np.nan,],
    "Paymentmethod":["UPI","Card","Cash","UPI",],
}

df=pd.DataFrame(data1)
df.head()

   Data_usage Contract_type Paymentmethod
0         5.0       Prepaid           UPI
1        12.0      Postpaid          Card
2         NaN      Postpaid          Cash
3        50.0           NaN           UPI

In [12]:
# @title Default title text
print(df.isnull().sum())

df['Data_usage'] = df['Data_usage'].fillna(df['Data_usage'].mean())

df['Contract_type'] = df['Contract_type'].fillna(df['Contract_type'].mode()[0])

df['Paymentmethod'] = df['Paymentmethod'].fillna(df['Paymentmethod'].mode()[0])

print("Dataset after handling missing values:",df.isnull().sum())

Data_usage       1
Contract_type    1
Paymentmethod    0
dtype: int64
Dataset after handling missing values: Data_usage       0
Contract_type    0
Paymentmethod    0
dtype: int64